.MMM-FearAndGreedIndex header {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.MMM-FearAndGreedIndex .index-wrapper {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 10px;
}

